/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Styles for the body */

body {
	font-family: "Roboto Condensed", sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #2413DE;
	color: white
}

.resume-main {
	background-color: #649CEB;
}

.resume-aside {
	background-color: #34D227;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
/* Custom highlight class to meet style adjustment 2 */
.custom-highlight {
    color: #ff4081; /* striking text color */
    background-color: #fff2f6; /* soft background */
    padding: 0.2em 0.5em;
    border-radius: 5px;
    font-style: italic;
}
